.card {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--text-color);
  border: 1px solid var(--border-gray);
  box-shadow: 0 0 5px var(--border-gray);
}

.todo-card {
  background-color: var(--card-default);
}
