.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--grid-gap-large);
  padding: var(--padding-large);
}

.column {
  display: grid;
  grid-template-rows: 10vh auto;
  grid-gap: var(--grid-gap-medium);
}

.todo-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: var(--grid-gap-small);
}
